    /*		Default Layout: 960px. 
            Gutters: 24px.
            Outer margins: 48px.
            Leftover space for scrollbars @1024px: 32px.
    -------------------------------------------------------------------------------
    */
.wrap{
        width: 960px;
        display: block;
        margin: 0 auto;
    }
.img{
    max-width: 100%;
    height: auto;
} 

.selectnav{
    display: none;
    height: 2.75em;
    width: 100%;
}
    
    
    
    /*		Tablet Layout: 768px.
            Gutters: 24px.
            Outer margins: 28px.
            Inherits styles from: Default Layout.
    -----------------------------------------------------------------
    cols    1     2      3      4      5      6      7      8
    px      68    160    252    344    436    528    620    712    */
    
@media only screen and (min-width: 768px) and (max-width: 991px) {

.wrap{
        width: 95%;
       
    }
#content{
    width: 65%;
    margin-right: 2%;
}
#sidebar{
    width: 33%;
}
.selectnav{
    display: block;
    height: 2.75em;
    width: 100%;
}
#mainmenu{
    display: none;
}
          
    }
    
    
    
    /*		Mobile Layout: 320px.
            Gutters: 24px.
            Outer margins: 34px.
            Inherits styles from: Default Layout.
    ---------------------------------------------
    cols    1     2      3
    px      68    160    252    */
    
@media only screen and (max-width: 767px) {
    
.wrap{
            width: 98%;
        }    
#content{
          width: 100%;
          
      }
#sidebar{
          width: 100%;
      }
#slider_wrapper{
          display: none;
      }
#imgp_wrap img{
    width: 50%;
    height: auto;
}
#header{
    text-align: center;
}

#content figure{
    width: 75%;
    padding: 5px;
}
#content img{
    width: 100%;
}
#content figcaption{
    font-size: 85%;
}  

blockquote{
    background: #ddd;
    margin-left: 1%;
    padding: 5px;
    padding-left: 3%;
    border-left: 2px solid orange;
}
.selectnav{
    display: block;
    height: 2.75em;
    width: 100%;
}
#mainmenu{
    display: none;
}


        
    }
    
    
    
    /*		Wide Mobile Layout: 480px.
            Gutters: 24px.
            Outer margins: 22px.
            Inherits styles from: Default Layout, Mobile Layout.
    ------------------------------------------------------------
    cols    1     2      3      4      5
    px      68    160    252    344    436    */
    
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        
  .wrap{
      width: 98%;
  }    
#content{
    width: 100%;
    
}
#sidebar{
    width: 100%;
}
#slider_wrapper{
    display: none;
}
#header{
    text-align: center;
}
#content figure{
    width: 75%;
    padding: 5px;
}
#content img{
    width: 100%;
}
#content figcaption{
    font-size: 85%;
}  

blockquote{
    background: #ddd;
    margin-left: 1%;
    padding: 5px;
    padding-left: 3%;
    border-left: 2px solid orange;
}

.selectnav{
    display: block;
    height: 2.75em;
    width: 100%;
}
#mainmenu{
    display: none;
}

    }
    
    
    /*	Retina media query.
        Overrides styles for devices with a 
        device-pixel-ratio of 2+, such as iPhone 4.
    -----------------------------------------------    */
    
    @media 
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
        
.wrap{
         width: 98%;
     }    
#content{
        width: 100%;
              
          }
#sidebar{
        width: 100%;
          }
#slider_wrapper{
        display: none;
          }
#header{
        text-align: center;
          }
                    


        
    }